.u-block-6824-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-6824-3 {
  position: absolute;
  left: 0;
}

.u-block-6824-4 {
  position: absolute;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1-1 .u-shape-1 {
  width: 1329px;
  height: 34px;
  margin: 0 -94px;
}

.u-section-1-1 .u-image-1 {
  width: 653px;
  height: 222px;
  margin: 296px auto 0;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 275px;
  margin: 10px auto 60px 433px;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1-1 .u-image-1 {
    width: 540px;
    height: 184px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-left: 265px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 116px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-left: 65px;
  }
}

.u-section-1-2 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1-2 .u-shape-1 {
  width: 1329px;
  height: 34px;
  margin: 0 -94px;
}

.u-section-1-2 .u-image-1 {
  width: 485px;
  height: 239px;
  margin: 288px auto 0;
}

.u-section-1-2 .u-layout-wrap-1 {
  width: 275px;
  margin: 10px auto 60px;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-1-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 168px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 759px;
}

.u-section-2 .u-shape-1 {
  height: 192px;
  background-image: linear-gradient(to right, #004a5a, #4ca77b);
  margin-top: 167px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 967px;
  margin: -349px auto 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 224px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 525px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 429px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 749px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 397px;
  height: 551px;
  margin: 62px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1147px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 511px;
  }

  .u-section-2 .u-image-1 {
    height: 415px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 615px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 2015px;
  }

  .u-section-2 .u-shape-1 {
    height: 345px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 999px;
  }

  .u-section-2 .u-image-1 {
    height: 643px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 637px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1893px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 242px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 507px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1689px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 301px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 472px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 716px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  width: 976px;
  margin: 50px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 468px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#004a5a, #4ca77b);
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 20px;
}

.u-section-3 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: linear-gradient(#004a5a, #4ca77b);
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-8 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 451px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}